 main { /* gives my 'main' element from index.html styles */
    width: 600px; /* ensures my canvas's width is 600px */
    height: 600px; /* ensures my canvas's height is 600px */
    margin: auto; 
    justify-content: center; /* centres my canvas in the webpage */
}